h1{
            color: brown;
        }
        p {
            font-family: Arial, Helvetica, sans-serif;
        }
        img {
            height: 300px;
            width: 400px;
        }
 body{ 
           background-color: rgb(254, 173, 186) !important;

table {
    background-color: rgb(208, 146, 146);
    padding: 20px;
    border-radius: 10px;
}

td {
    vertical-align: top;
}

 }